<?xml version="1.0" encoding="utf-8"?>
<configuration><configSections>
                   <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                       <section name="GVConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
                   </sectionGroup>
                   <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                       <section name="GVConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
                   </sectionGroup>
               </configSections>
               <connectionStrings/>
               <startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <GVConverter.Properties.Settings>
            <setting name="IPSSH" serializeAs="String">
                <value>46.101.242.170</value>
            </setting>
            <setting name="LoginSSH" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="PasswordSSH" serializeAs="String">
                <value>igeoview</value>
            </setting>
            <setting name="PortSSH" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="PathToGDBFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="IPDataBasePostrgeSQL" serializeAs="String">
                <value>46.101.242.170</value>
            </setting>
            <setting name="LoginDataBasePostgreSQL" serializeAs="String">
                <value>giscuit</value>
            </setting>
            <setting name="PasswordDataBasePostgreSQL" serializeAs="String">
                <value>igeoview</value>
            </setting>
            <setting name="NameDataBasePostgreSQL" serializeAs="String">
                <value>giscuit</value>
            </setting>
        </GVConverter.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GVConverter.Properties.Settings>
            <setting name="SizeOfButtonMenu" serializeAs="String">
                <value>93, 90</value>
            </setting>
            <setting name="FontButtonMenu" serializeAs="String">
                <value>Microsoft Sans Serif, 9pt, style=Bold</value>
            </setting>
        </GVConverter.Properties.Settings>
    </applicationSettings>
</configuration>
